body {
  margin: 0;
  font-family: Arial, sans-serif;
}
main {
  text-align: center;
  margin-top: 120px;
}
.clsImagen img {
  width: 100%;
  min-width: 100%;
}
header {
  background-color: #9f815f;
  flex-direction: column;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  flex-shrink: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px;
  transition: all 0.3s;
}
.title {
  color: #fff;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.subtitle {
  color: #000000;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
}
.logo {
  border-radius: 200px;
  width: 95px;
  height: 95px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul li {
  margin-left: 20px;
  position: relative;
}
nav ul li a {
  color: #000;
  font-family: 'Inter', light;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  position: relative;
  width: 71px;
}
nav ul li a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  animation: underline 0.3s forwards;
}
@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.tortas {
  padding: 10px;
  background: #9f815f;
  margin-top: -5px;
  box-shadow: 0px 50px 100px 5px rgba(0, 0, 0, 0.2) inset;
}
.tortascontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.tortascontainer img {
  border-radius: 30px;
  margin: 10px;
  height: 300px;
}
.aboutme {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgba(159, 129, 95, 0.77);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.aboutmeimgcontainer {
  flex: 1 0 45%;
}
.aboutmetxt {
  text-align: center;
  font-family: 'Inter', light;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 160%;
}
.aboutmetxt1 {
  margin-left: 100px;
  margin-right: 70px;
}
.aboutmetxt2 {
  flex: 1 0 45%;
  margin-left: 90px;
  margin-right: 90px;
}
.aboutme img {
  max-width: 100%;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 20px;
  margin-right: 100px;
}

.contact {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #e3b684;
  display: flex;
}
.maps-container {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.maps {
  align-items: left;
  width: 100%;
  height: 100%;
}
.name {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.name label {
  color: #fff;
  font-family: 'Inter', light;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.name input {
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Inter', light;
  font-size: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 20px;
}
.message label {
  color: #fff;
  font-family: 'Inter', light;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.message textarea {
  resize: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
  -webkit-touch-callout: none;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  font-family: 'Inter', light;
  font-size: 20px;
  height: 150px;
}

.whatsappbutton {
  display: inline-block;
  background-color: #5fa661;
  color: #fff;
  text-align: center;
  font-family: 'Inter', light;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #63513e;
  transition: background-color 0.3s ease;
  line-height: 50px;
  text-decoration: none;
}
.whatsappbutton:hover {
  background-color: #4c7e4f;
}
.form-container {
  display: flex;
  height: 100%;
  padding: 20px;
}
.form-content {
  width: 100%;
  height: 100%;
  padding: 50px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9f815f;
  background-color: #9f815f;
  padding: 20px;
}
footer p {
  color: #fff;
  font-family: 'Inter', light;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.social-icons {
  display: flex;
  margin-right: 30px;
}
.social-icons a {
  padding-right: 20px;
}
.social-icons img {
  height: 50px;
}

.imagen-desktop {
  display: block;
}
.imagen-mobile {
  display: none;
}

@media (max-width: 768px) {
  /* Ocultar imagen de escritorio en dispositivos móviles */
  .imagen-desktop {
    display: none;
  }

  /* Mostrar imagen móvil en dispositivos móviles */
  .imagen-mobile {
    display: block;
  }
}
