body {
  margin: 0;
  background: #9f815f;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  background-color: #9f815f;
}
html {
  scroll-behavior: smooth;
}
main {
  text-align: center;
}
header {
  background-color: #9f815f;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  padding: 10px;
  z-index: 1;
  transition: all 0.3s ease; 
}
.title {
  color: #fff;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: font-size 0.1s;
}
.subtitle {
  color: #000000;
  font-family: 'Just Another Hand', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.logo-container {
  justify-content: center;
  align-items: center;
}
.logo {
  border-radius: 200px;
  width: 140px;
  height: 140px;
  transition: width 0.3s, height 0.3s;
}
.mobile-nav-toggle {
  display: none;
}
.mobile-nav {
  display: none;
}
.desktop-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: all 0.3s;
}
.desktop-nav ul li {
  position: relative;
}

.desktop-nav ul li a {
  color: #000;
  font-family: 'Inter', light;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  position: relative;
}
.desktop-nav ul li:first-child a {
  display: none;
  transition: all 0.1s ease; 
}
.desktop-nav ul li:first-child {
  margin-right: 0;
}
.desktop-nav ul li:not(:last-child) {
  margin-right: 20px; /* Ajusta este valor según el espacio que necesites */
}

.desktop-nav ul li a:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  animation: underline 0.5s forwards;
}
@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#fotos {
  margin-top: 150px;
  padding: 30px;
  background: #9f815f;
  box-shadow: 0px 50px 100px 5px rgba(0, 0, 0, 0.2) inset;
}
#instafeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px; 
  grid-gap: 0.5rem;
  max-width: 64rem;
  margin: auto;
}

#instafeed a {
  display: block;
  position: relative;
  overflow: hidden;
}

#instafeed img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.4s ease; /
}

#instafeed a:hover img {
  transform: scale(1.05); 
}
.aboutme {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgba(159, 129, 95, 0.77);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.aboutmeimgcontainer {
  flex: 1 0 45%;
}
.aboutmetxt {
  text-align: center;
  font-family: 'Inter', light;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 160%;
}
.aboutmetxt1 {
  margin-left: 100px;
  margin-right: 70px;
}
.aboutmetxt2 {
  flex: 1 0 45%;
  margin-left: 90px;
  margin-right: 90px;
}
.aboutme img {
  max-width: 100%;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 20px;
  margin-right: 100px;
}
.contact {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #e3b684;
  display: flex;
}
.maps-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.form-content {
  margin-left: 50px;
  margin-right: 50px;
}
.name {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.name label {
  text-align: left;
  color: #fff;
  font-family: 'Inter', light;
  font-size: 20px;
  line-height: normal;
}
.name input {
  align-items: center;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  width: 700px;
  height: 50px;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Inter', light;
  font-size: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 20px;
}
.message label {
  text-align: left;
  color: #fff;
  font-family: 'Inter', light;
  font-size: 20px;
}
.message textarea {
  resize: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
  -webkit-touch-callout: none;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  font-family: 'Inter', light;
  font-size: 20px;
  height: 150px;
  width: 700px;
}
.whatsappbutton {
  display: inline-block;
  background-color: #5fa661;
  color: #fff;
  text-align: center;
  font-family: 'Inter', light;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  width: 700px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px #63513e;
  transition: background-color 0.3s ease;
  line-height: 50px;
  text-decoration: none;
}
.whatsappbutton:hover {
  background-color: #4c7e4f;
}
.whatsappbutton.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  color: gray;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9f815f;
  background-color: #9f815f;
  padding: 10px;
}
footer p {
  color: #fff;
  font-family: 'Inter', light;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 5px;
}
header .social-icons {
  display: flex;
  margin-top: 20px;
}

header .social-icons img {
  height: 50px;
}

header .social-icons a {
  margin-right: 15px; /* Ajusta el valor según el espacio que necesites */
}

header .social-icons a:last-child {
  margin-right: 0; /* Elimina el margen derecho del último ícono */
}

/* Estilos para los íconos sociales en el footer */
footer .social-icons {
  display: flex;
  margin-right: 30px;
}

footer .social-icons a {
  padding-right: 20px;
}

footer .social-icons img {
  height: 40px;
}

@media (max-width: 500px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 30px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
  }
  .mobile-nav-toggle #menu-icon {
    transition: transform 0.3s ease;
  }
  .mobile-nav-toggle.active #menu-icon {
    transform: rotate(90deg);
  }
  .menu {
    width: 25px;
    position: absolute;
    left: 20px;
    top: 20px;
    height: auto;
  }
  .mobile-nav {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #9f815f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .mobile-nav ul li a {
    color: #000;
    font-family: 'Inter', light;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    position: relative;
    width: 71px;
  }
  .mobile-nav ul li {
    margin-bottom: 10px;
  }
  .mobile-nav ul li:last-child {
    margin-bottom: 0;
  }
  .mobile-nav ul li a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    animation: underline 0.3s forwards;
  }
  .mobile-nav.active {
    display: block;
  }
  .tortascontainer img {
    height: 160px;
  }
  .aboutmetxt1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .aboutmetxt2 {
    flex: 1 0 45%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .aboutme img {
    margin-top: auto;
    height: auto;
  }
  .contact {
    flex-direction: column;
  }
  .maps-container {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .name input {
    width: 100%;
  }
  .message textarea {
    width: 100%;
  }
  .whatsappbutton {
    width: 100%;
  }
  .form-content {
    width: auto;
  }
  header {
    align-items: center;
    flex-direction: row;
    height: auto;
  }
  main {
    margin-top: auto;
  }
  .social-icons {
    margin-right: 0;
  }
  .social-icons img {
    height: 30px;
  }
  #instafeed {
    grid-auto-rows: 200px; 
  }
}
